nav {
    position: fixed;
    min-width: 296px;
    min-height: 100vh;

    h2,
    h3 {
        font-size: 16px;
    }

    .current-link {
        padding-left: $spacer*3.5;
        border-left: 4px solid $success;
    }

    .nav-link {
        position: relative;
        @include hover-color;
    }

    .user {
        a {
            @include hover-opacity;
        }

        img {
            width: 40px;
            height: 40px;
        }
    }
}

main {
    margin-left: 296px;
}